<footer class="footer_att">

	<div class="wrap_att">
		
		<div class="footer-text_att">
	
			<span class="icon-github"></span> <a href="https://github.com/TryGhost/Ghost">Ghost</a> x 
			<a href="https://github.com/greedz/attic-theme">Attic</a>
	
		</div>

	</div>

</footer>